<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title !== 'undefined' ? title : 'MyApp' %></title>
    <style>
        body{
            padding: 1em;
        }
        nav{
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
<%- include('navbar') %>